body{
    background-color: aqua;
    
}

li {
    font-size: 25px;
    width: 360px;
}
h1 {
    margin:40px;
    margin-top: 60px;
}
h2 {
    margin: 40px;
}
section {
    margin-left: 20px;
}
form {
    margin-left: 40px;
}

.line-through{
    text-decoration: line-through;
}
.no-line-through{
    text-decoration: none;
}

